/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@mixin breakpoint($point) {
  @media (max-width: $point) { @content; }
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,600);

body {
	background: #ededed;
	font-family: 'Montserrat';
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

.clearfix {
	clear: both;
}

.wrap {
	margin: 20px auto;
	max-width: 600px;
}

.shell {
	padding: 0 20px;
}

h1 {
	font-size: 2em;
	color: #444;
}

.doge-header {
	clear: both;

	.doge-message {
		margin: 10px 0;
		border-radius: 6px;
		padding: 20px;
		float: left;
		background: white;
	}
	.doge-picture {
		margin-left: 10px;
		float: left;
		width: 80px;
		height: 80px;
		overflow: hidden;
		border-radius: 80px;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.game {
	width: 100%;
	margin-top: 20px;
	clear: both;
	.game-row {
		clear: both;

		.game-box {

			width: 23%;
			margin: 1%;
			display: inline-block;
			background: #fff;
			border-radius: 6px;
			color: #444;
			line-height: 60px;
			text-align: center;
			text-transform: uppercase;
			font-size: 2em;

			&:hover {
				cursor: pointer;
				background: #ededed;
			}
		}
	}
}

.cols {
	clear: both;
	width: 100%;
	.left {
		float: left;
		width: 40%;
		min-width: 260px;
	}

	.right {
		float: left;
		width: 60%;
	}
}