/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@mixin breakpoint($point) {
  @media (max-width: $point) { @content; }
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,600);

body {
	background: #ddd;
	font-family: 'Montserrat';
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;      
}

.clearfix {
	clear: both;
}

.wrap {
	margin: 0 auto;
	max-width: 600px;
	padding: 0 10px;
}

h1 {
	font-size: 2em;
	color: #444;
	@include breakpoint(600px) {
		font-size: 1.4em;
		width: 120px;
	}
}

.doge-header {
	margin-top: 10px;
	clear: both;

	.doge-message {
		margin: 10px 0;
		border-radius: 6px;
		padding: 20px;
		margin-right: 5px;
		float: right;
		background: white;
		position: relative;

		@include breakpoint(600px) {
			padding: 10px;
			font-size: 0.9em;
		}

		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-left-color: #fff;
			border-width: 10px;
			margin-top: -10px;
		}
	}
	.doge-picture {
		margin-left: 10px;
		float: right;
		width: 80px;
		height: 80px;
		overflow: hidden;
		border-radius: 80px;
		img {
			width: 100%;
			height: auto;
		}
		@include breakpoint(600px) {
			width: 55px;
			height: 55px;
		}
	}
}

.search {
	clear: both;
	position: relative;
	padding-right: 20px;
	margin-top: 20px;

	label {
		margin-bottom: 5px;
		font-size: 0.8em;
		&.success {
			color: #00cc00;
		}
		&.error {
			color: #cc0000;
		}
	}
	
	i {
		display: block;
		font-size: 1.4em;
		color: #999;
		position: absolute;
		right: 10px;
		top: 48%;
	}
	input {
		margin-top: 5px;
		border: 0;
		border-radius: 6px;
		font-size: 1.4em;
		padding: 8px 10px;
		width: 100%;
		outline: 0;
		background: white;
		text-transform: uppercase;
		font-family: 'Roboto';
		font-weight: 600;

		@include breakpoint(600px) {
			font-size: 1em;
		}
	}
}

.game {
	width: 100%;
	clear: both;

	h2 {
		font-size: 1em;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: #999;
		span {
			display: block;
			color: #444;
			font-size: 1.6em;
		}
	}

	button {
		border: 0;
		background: #444;
		color: white;
		border-radius: 6px;
		padding: 10px;
		font-family: 'Montserrat';

		&:hover {
			opacity: 0.9;
			cursor: pointer;
		}
	}

	.game-row {
		margin-right: -1%;
		clear: both;

		.game-box {
			font-family: 'Roboto';
			font-weight: 600;
			width: 23%;
			margin: 0 1%;
			margin-bottom: 2%;
			display: inline-block;
			background: #fff;
			border-radius: 6px;
			color: #444;
			line-height: 60px;
			text-align: center;
			text-transform: uppercase;
			font-size: 2em;

			&:hover {
				cursor: pointer;
				background: #ccc;
			}

			&.active {
				background: #00cc00;
				color: white;
			}

			@include breakpoint(600px) {
				font-size: 1.2em;
				line-height: 40px;
			}
		}
	}
}

.words {
	label {
		font-size: 0.8em;
		margin-bottom: 5px;
		display: block;
	}

	.clock {
		font-size: 1.4em;
		color: #444;
		margin-bottom: 10px;
	}

	.words-box {
		.word-tag {
			font-size: 0.8em;
			border-radius: 6px;
			background: #444;
			color: #fff;
			font-family: 'Roboto';
			font-weight: 600;
			float: left;
			padding: 5px;
			margin-right: 5px;
			margin-bottom: 5px;
			text-transform: uppercase;

			&.exists {
				background: #00cc00;
			}


		}

		&.scored {
			.word-tag{
				&.incorrect {
					background: #cc0000;
				}
				&.correct {
					background: #00cc00;
				}
			}
		}
	}

}

.cols {
	clear: both;
	float: left;
	margin-top: 20px;
	width: 100%;

	.left {
		float: left;
		width: 50%;
		max-width: 260px;
		@include breakpoint(600px) {
			width: 40%;
		}
	}

	.right {
		float: right;
		width: 55%;
		@include breakpoint(600px) {
			width: 55%;
		}
	}
}